[submodule ".vendor/mongoose"]
	path = .vendor/mongoose
	url = git://github.com/LearnBoost/mongoose.git
[submodule "vendor/mongoose"]
	path = vendor/mongoose
	url = git://github.com/LearnBoost/mongoose.git
