<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Scheduler</title>
	<link rel='stylesheet' type='text/css' href='/css/fullcalendar/fullcalendar.css' />
	<link rel='stylesheet' type='text/css' href='/css/fullcalendar/fullcalendar.print.css' media='print' />
	<link rel='stylesheet' type='text/css' href='/css/global.css' />
	<script type='text/javascript' src='/js/jquery/jquery-1.5.2.min.js'></script>
	<script type='text/javascript' src='/js/jquery-ui/jquery-ui-1.8.14.custom.min.js'></script>
	<script type='text/javascript' src='/js/fullcalendar/fullcalendar.js'></script>
	<script type='text/javascript'>
	$(document).ready(function() {
		var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
	    $('#calendar').fullCalendar({
            eventSources: [
				{
					url: 'http://127.0.0.1:1338/api/events',
					type: 'GET',
					dataType: 'json',
					ignoreTimezone: false
				}
            ]
	    });

	});
	</script>
</head>

<body>
	<div>
		<a href='/create.html'>Create New</a>
	</div>
	<div id='calendar'></div>
</body>
</html>